<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.tnn.demo" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--开启相机权限-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="true" >
        <activity android:name="com.tencent.tnn.demo.StreamHairSegmentation.StreamHairSegmentationActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.StreamBlazeFaceAlign.StreamBlazeFaceAlignActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.StreamBlazeFaceDetector.StreamBlazeFaceDetectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.ImageBlazeFaceDetector.ImageBlazeFaceDetectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.ImageObjectDetectorSSD.ImageObjectDetectSSDActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.StreamObjectDetectorSSD.StreamObjectDetectSSDActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.StreamFaceDetector.StreamFaceDetectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.ImageFaceDetector.ImageFaceDetectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.ImageClassifyDetector.ImageClassifyDetectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.ImageObjectDetector.ImageObjectDetectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tencent.tnn.demo.StreamObjectDetector.StreamObjectDetectActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

</manifest>
