name: android-arm-cpu
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      CONDITION: ${{ steps.preflight.outputs.CONDITION }}
    steps:
    - uses: actions/checkout@v2
    - name: Preflight
      id: preflight
      run: |
        echo ::set-output name=CONDITION::0
        ./scripts/.ci/preflight.sh android || ret=$? && echo $ret && echo ::set-output name=CONDITION::$ret

  android:
    needs: [setup]
    if: ${{ needs.setup.outputs.CONDITION != '11' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: sudo apt-get install attr
    - name: build
      run: export ANDROID_NDK=$ANDROID_NDK_LATEST_HOME && ./scripts/build_android.sh
